<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="page-wrapper">
            <nav class="navbar">
                <span class="navbar-brand mb-0 h1" ><a href="/">Home Page</a></span>
                <%if(user.id == 0){%><a class="float-right" href="/login">Login</a><%}%>
                <%if(user.id != 0){%><a class="float-right float-top" left href="/account/edit/<%=user.id%>">Welcome back, <%=user.username%>
                    <img alt="Image" width="30" height="30" class="rounded-circle" src="<%=user.profilePicture%>"></a>  
                <%}%>
            </nav>
        </div>