<%- include('partials/header') %>
<div class="container">
<% if (add || comment) { %>
    <form method="post" action="/<%=add ? 'comment/add' : `comment/edit/${comment.commentId}`%>">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="message">message</label>
                <input type="text" class="form-control" name="message" value="<%=add ? '' : comment.message %>" required>
            </div>
        </div>
        <a href="/"><button type="submit" class="btn btn-success"><%= add ? 'Add' : 'Update' %> comment</button></a>
    </form>
<% } else { %>
    <p class="text-center">comment Not Found.</p>
<% } %>
</div>
</body>
</html>